{% extends "base.html" %}
{% block title %}Edit Stats{% endblock %}
{% block head %}
		{{ super() }}
		<style type="text/css">
				.important { color: #336699; }
		</style>
{% endblock %}

{% block content %}
<script type="text/javascript">
	var image_root = window.location.origin + "{{ url_for('uploaded_file', filename='') }}"

</script>
<div class="container">
	<div class="columns">

		<div class="column col-12">
			<div class="empty">
				<div class="empty-icon">
					<i class="icon icon-people"></i>
				</div>
				<h4 class="empty-title">Upload An Image</h4>
				<p class="empty-subtitle">Like, now, dude.</p>
			</div>

			<!--our stats tag-->
			<stats />
		</div>

	</div>
</div>


<div class='container'>
	<div class='columns'>

		<div class='column col-12'>
			<!-- our roitjs slides tag-->
			<files/>
		</div>

	</div>
</div>



<div class='container'>
	<div class='columns'>

		<div class='column col-12'>
			{% for file in files %}
				<img src="{{ url_for('uploaded_file', filename=file.filename) }}">
			{% endfor %}
		</div>

	</div>
</div>

{% endblock %}

{% block footer_js %}
	<script>
		riot.mount('files')
	</script>
{% endblock %}