{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None, my_icon=None) -%}
		<!-- <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}"> -->
				{% if field.type != 'HiddenField' and label_visible %}
						{% if not label %}{% set label=field.label.text %}{% endif %}
						<label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
				{% endif %}
					<div class="field {% if field.errors %}error{% endif %}">
						<div class="ui left icon input">
							<i class="{{my_icon}} icon"></i>
							{{ field(class_='form-control', placeholder=field.label.text, **kwargs) }}
						</div>
					</div>
				{% if field.errors %}
						{% for e in field.errors %}
								<!-- <p class="help-block">{{ e }}</p> -->
								<div class="ui error message">
										<!-- <div class="header">Action Forbidden</div> -->
										<p>{{ e }}</p>
									</div>
						{% endfor %}
				{% endif %}
		<!-- </div> -->
{%- endmacro %}
 
{% macro render_checkbox_field(field, label=None) -%}
		{% if not label %}{% set label=field.label.text %}{% endif %}
		<div class="inline field">
			<div class="ui checkbox">
				{{ field(type='checkbox', **kwargs) }}
				<label>{{ label }}</label>
			</div>
		</div>
{%- endmacro %}
 
{% macro render_radio_field(field) -%}
		{% for value, label, checked in field.iter_choices() %}
				<div class="radio">
						<label>
								<input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %} checked{% endif %}>
								{{ label }}
						</label>
				</div>
		{% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
		{% if not label %}{% set label=field.label.text %}{% endif %}
		{#<button type="submit" class="ui fluid large blue submit button">{{label}}</button>#}
		<input type="submit" class="ui fluid large blue submit button" value="{{label}}"
					 {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
					 >
{%- endmacro %}
