{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class='ui inverted header'>{%trans%}Change password{%endtrans%}</h1>

<form action="" method="POST" class="ui large form error" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.old_password, label_visible=false, my_icon='lock', tabindex=10) }}
    {{ render_field(form.new_password, label_visible=false, my_icon='lock', tabindex=20) }}
    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password, label_visible=false, my_icon='lock', tabindex=30) }}
    {% endif %}
    <!-- {{ render_submit_field(form.submit, tabindex=90) }} -->
    <input type="submit" class="ui fluid large blue submit button" value="Change Password" tabindex="90">
</form>


{% endblock %}