{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class='ui inverted header'>{%trans%}Forgot Password{%endtrans%}</h1>

<form action="" method="POST" class="ui large form error" role="form">
    {{ form.hidden_tag() }}
    <!-- {{ render_field(form.email, tabindex=10) }} -->
    <div class="field">
		<div class="ui left icon input">
			<i class="mail icon"></i>
			<input class="form-control" id="email" name="email" tabindex="10" type="text" value="" placeholder="Your Email Address">

		</div>
	</div>
    {{ render_submit_field(form.submit, tabindex=90) }}
    <!-- <input type="submit" class="ui fluid large blue submit button" value="Send Reset Password Email" tabindex="90"> -->
</form>


{% endblock %}