{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1 class='ui inverted header'>{%trans%}Reset Password{%endtrans%}</h1>
<form action="" method="POST" class="ui large form" role="form">
    {{ form.hidden_tag() }}
    <!-- {{ render_field(form.new_password, tabindex=10) }} -->
    <div class="field">
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input class="form-control" id="new_password" name="new_password" tabindex="10" type="password" value="" placeholder="Enter New Password">
		</div>
	</div>
    {% if user_manager.enable_retype_password %}
        <!-- {{ render_field(form.retype_password, tabindex=20) }} -->
        <div class="field">
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input class="form-control" id="retype_password" name="retype_password" tabindex="20" type="password" value="" placeholder="Retype New Password">
		</div>
	</div>
        
    {% endif %}
    <!-- {{ render_submit_field(form.submit, tabindex=90) }} -->
    <br>
    <input type="submit" class="ui fluid large blue submit button" value="Change password" tabindex="90">
</form>

{% endblock %}