{% extends theme('base.html') %}
{% block title %}Index{% endblock %}
{% block head %}
		{{ super() }}
		<style type="text/css">
			body {
				background-color: #DADADA;
			}
			body > .grid {
				height: 100%;
			}
			.image {
				margin-top: -100px;
			}
			.column {
				max-width: 450px;
			}
		</style>
{% endblock %}

{% block pre_pusher %}
	<!-- {% include theme('navigation.html', false) %} -->
	<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
	<div class="ui container">
		<a class="active item">Home</a>
		<a class="item">Work</a>
		<a class="item">Company</a>
		<a class="item">Careers</a>
		<div class="right menu">
			<div class="item">
				<a class="ui button">Log in</a>
			</div>
			<div class="item">
				<a class="ui primary button">Sign Up</a>
			</div>
		</div>
	</div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a class="active item">Home</a>
	<a class="item">Work</a>
	<a class="item">Company</a>
	<a class="item">Careers</a>
	<a class="item" href='/login'>Login</a>
	<a class="item" href='/signup'>Signup</a>
</div>
{% endblock %}


{% block header %}
{% endblock %}

{% block main %}
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui teal image header">
			<img src="assets/images/logo.png" class="image">
			<div class="content">
				Log-in to your account
			</div>
		</h2>
		<form class="ui large form">
			<div class="ui stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="email" placeholder="E-mail address">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>
				<div class="ui fluid large teal submit button">Login</div>
			</div>

			<div class="ui error message"></div>

		</form>

		<div class="ui message">
			New to us? <a href="#">Sign Up</a>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block riot_tags %}
	<script type="riot/tag" src="{{ theme_static('tags/objects.tag') }}"></script>
{% endblock %}

{% block footer_js %}

<!--custom utilities-->
	<script>
	
	</script>
<!-- semantic-ui-->
	<script>

		$(document).ready(function() {

			$('.ui.form').form({
					fields: {
						email: {
							identifier  : 'email',
							rules: [
								{
									type   : 'empty',
									prompt : 'Please enter your e-mail'
								},
								{
									type   : 'email',
									prompt : 'Please enter a valid e-mail'
								}
							]
						},
						password: {
							identifier  : 'password',
							rules: [
								{
									type   : 'empty',
									prompt : 'Please enter your password'
								},
								{
									type   : 'length[6]',
									prompt : 'Your password must be at least 6 characters'
								}
							]
						}
					}
				});

		});

	</script>

{% endblock %}







